<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.nirmlkar.dalejan.fireauthenticate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Dashboard"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Signup"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/appp_name"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".Login"
            android:configChanges="keyboardHidden"
            android:label="Login"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ResetPassword"
            android:configChanges="keyboardHidden"
            android:label="@string/btn_reset_password"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity android:name=".Flash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>